@model CroResource
<div class="col-lg-9 info">
	<div class="row">

		<!-- widget -->
		<div class="widget col-md-4">
			<div class="widget-header">
				<h3><i class="fa fa-paperclip"></i> 作品信息</h3>
			</div>

			<div class="widget-content">
				<ul class="list-group">

					<li class="list-group-item">作品名称：@Model.Title</li>

					@*@if (!string.IsNullOrEmpty(Model.Province))
					{
						<li class="list-group-item">省份：@Model.Province</li>
					}
					@if (!string.IsNullOrEmpty(Model.Province))
					{
						<li class="list-group-item">市区：@Model.Area</li>
					}*@

					<li class="list-group-item">创建时间：@Model.CreatedTime.ToString("yyyy-MM-dd")</li>

					<li class="list-group-item">
						<div class="switchs">
							@Html.CheckBox("State", Model.StatePKID == CroResourceHelper.StateAllow, new { @class = "switch", data_label_text = "审核合格", data_size = "small" })
						</div>
					</li>


				</ul>
			</div>
		</div>
		<!-- end widget -->
		<!-- widget -->
		@*<div class="widget col-md-4">
			<div class="widget-header">
				<h3><i class="fa fa-paperclip"></i> 当前论文信息</h3>
			</div>

			<div class="widget-content">
				<ul class="list-group">
					<li class="list-group-item">
						<span>论文名称：@Model.Title</span>
					</li>

					@if (Model.AttachmentId != 0)
					{
						<li class="list-group-item">
							<span>论文文件： <a href="@Model.AttachmentPath" target="_blank" data-id="@Model.AttachmentId" class="btn-info btn-sm btn-download">下 载</a></span>
						</li>
					}

				</ul>
			</div>
		</div>*@
		<!-- end widget -->
		<!-- widget -->
		<div class="widget col-md-4 author_area">
			<div class="widget-header">
				<h3><i class="fa fa-paperclip"></i> 作者信息</h3>
			</div>

			<div class="widget-content">
				<ul class="list-group">
					<li class="list-group-item">作者：@Model.Author</li>
					@if (@Model.AuthorCompany != "")
					{
						<li class="list-group-item">单位：@Model.AuthorCompany</li>
					}
				</ul>
			</div>
		</div>
		<!-- end widget -->

	</div>
</div>